
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
   width: 100vw;
}

.register-container {
    background-color: rgba(255, 255, 255, 0.9); 
    box-shadow: 0.4em 0.4em 0.8em rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23em;
    padding: 2em;
    border-radius: 2em;
}

h1, h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.2em;
    color: #333;
}

input[type="text"],
input[type="password"] {
  width: 18em;
  padding: 0.65em;
  margin: 0.65em 0;
  border: 0.06em solid #ccc;
  border-radius: 0.3em;
  font-size: 1em;
}

input[type="button"] {
  width: 19em;
  padding: 0.65em;
  background-color: rgb(80, 80, 80);
  color: white;
  border: none;
  border-radius: 0.3em;
  font-size: 1em;
  cursor: pointer;
  margin-top: 1.3em;
  margin-bottom: 0.5em;
}

input[type="button"]:hover {
  background-color: #45a049;
}
