.hidden {
    display: none;
  }

  .myappointment-box {
    background-color: rgb(255, 255, 255);
    box-shadow: 0.4em 0.4em 0.8em rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33em;
    height: auto;
    margin: 2em;
    margin-left: 1em;
    padding: 3em;
    border-radius: 2em;

  h2 {
    text-align: center;
    margin-top: -0.3em;
    margin-bottom: 0.5em;
    color: #333;
  }

  .appointments-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .date {
    width: 9em;
    font-weight: bold;
  }

  .service {
    width: 15.5em;
  }

  .cancelbutton-container {
    display: flex;
    justify-content: center;
  }

  input[type="button"] {
    padding: 0.65em;
    border: none;
    border-radius: 0.3em;
    font-size: 1em;
    cursor: pointer;
  }

  input[type="button"]:hover {
    background-color: red;
    color: white
  }

  }
